.col-md-12
  .content-box-large
    .panel-heading
      .panel-title Commits History
    .panel-body
      %table.table.table-condensed
        %thead
          %tr
            %th repository
            %th Head Commit
            %th Branch
            %th Timestamp
            %th
            %th
        %tbody
          - @commits.each do |commit|
            %tr
              %td= link_to commit.repository_name, commit.repository_url
              %td
                = link_to "#{commit.commit_id.to_s.slice(0,7)}", commit.commit_url
                = link_to "(diff)", commit.compare
              %td= commit.ref.to_s.gsub(%r|^.*/|,"")
              %td= commit.commit_timestamp
              %td{rowspan:2}= link_to 'Show', commit, class: "btn btn-default btn-sm"
              %td{rowspan:2}= link_to 'Destroy', commit, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger btn-sm"
            %tr
              %td{colspan:4}= commit.commit_message

