%p#notice= notice

.col-md-10
  .content-box-large
    .panel-heading
      .panel-title Show Commit
    .panel-body
      %table.table
        %tbody
          %tr
            %th Repo:
            %td
              = @commit.repo_id
          %tr
            %th Provider:
            %td
              = @commit.provider
          %tr
            %th Ref:
            %td
              = @commit.ref
          %tr
            %th Commit:
            %td
              = @commit.commit_id
          %tr
            %th Commit timestamp:
            %td
              = @commit.commit_timestamp
          %tr
            %th Message:
            %td
              = @commit.commit_message
          %tr
            %th Repository name:
            %td
              = @commit.repository_name
          %tr
            %th Repository url:
            %td
              = @commit.repository_url
          %tr
            %th Rawjson:
            %td
              = @commit.rawjson
      = link_to 'Back', commits_path, class: "btn btn-default btn-sm"
