= form_for @repo do |f|
  - if @repo.errors.any?
    #error_explanation
      = "#{pluralize(@repo.errors.count, "error")} prohibited this repo from being saved:"
      %ul
        - @repo.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :provider, class: "col-sm-2 control-label"
    github
  .form-group
    = f.label :name, class: "col-sm-2 control-label"
    = f.text_field :name, class: "form-controle"
  .form-group
    = f.label :branch, class: "col-sm-2 control-label"
    = f.text_field :branch, class: "form-controle"
  .form-group
    = f.submit 'Save', class: "btn btn-primary"
