%h1 Listing repos

%table
  %tr
    %th Provider
    %th Name
    %th Branch
    %th
    %th
    %th

  - @repos.each do |repo|
    %tr
      %td= repo.provider
      %td= repo.name
      %td= repo.branch
      %td= link_to 'Show', repo
      %td= link_to 'Edit', edit_repo_path(repo)
      %td= link_to 'Destroy', repo, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Repo', new_repo_path
