%p#notice= notice

.col-md-6
  .content-box-large
    .panel-heading
      .panel-title Show Repo
    .panel-body
      %table.table
        %tbody
          %tr
            %th Provider
            %td
              = @repo.provider
          %tr
            %th Name
            %td
              = @repo.name
          %tr
            %th Branch
            %td
              = @repo.branch
          %tr
            %th User
            %td
              = @repo.user.nickname
      = link_to 'Edit', edit_repo_path(@repo), class: "btn btn-primary btn-sm"
      = link_to 'Back', repos_path, class: "btn btn-default btn-sm"
