!!!
%html
  %head
    %title RoCCou
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %body
    .header
      .container
        .row
          .col-md-4
            / Logo
            .logo
              %h1
                %a{:href => "/"} Build
          .col-md-5
            .row
              .col-lg-12
                .input-group.form
                  %input.form-control{:placeholder => "Search...", :type => "text"}/
                  %span.input-group-btn
                    %button.btn.btn-primary{:type => "button"} Search
          .col-md-3
            = render('navigation')
    .page-content
      .row
        .col-md-2
          .sidebar.content-box{:style => "display: block;"}
            %ul.nav
              / Main menu
              %li.current
                %a{:href => "/"}
                  %span.octicon.octicon-home
                  Dashboard
              %li
                %a{:href => "/repos"}
                  %span.octicon.octicon-repo
                  Repository
              %li
                %a{:href => "/commits"}
                  %span.octicon.octicon-list-unordered
                  Commits
              %li
                %a{:href => "/auth/dropbox_oauth2"}
                  %i.fa.fa-dropbox
                  Dropbox
              %li
                %a{:href => "stats.html"}
                  %span.octicon.octicon-graph
                  Statistics (Charts)
              %li
                %a{:href => "buttons.html"}
                  %span.octicon.octicon-mail
                  Message
              %li
                %a{:href => "editors.html"}
                  %span.octicon.octicon-history
                  History
              %li
                %a{:href => "forms.html"}
                  %span.octicon.octicon-gear
                  Settings
        .col-md-10
          .row
            - if flash[:notice]
              .alert.alert-success.alert-dismissible
                = flash[:notice]
            - if flash[:alert]
              .alert.alert-danger.alert-dismissible
                = flash[:alert]
            - if flash[:warning]
              .alert.alert-warning.alert-dismissible
                = flash[:warning]
            = yield
    / page-content
    = render 'footer'
